.popUpContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    transition: 0.5s transform ease-out;
}
.text{
    padding: 40px 40px;
    font-size: 20px;
}

.error{
    background-color: rgba(255, 0, 0, 0.5);
}
.success{
    background-color: rgba(72, 255, 0, 0.5);
}
.hide{
    transform: translateY(100%);
}